@import './variables';
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: $montserrat-font;
}

p{
    font-size: $paragraph-font-size;
    font-family: $montserrat-font;
}

h1{
    font-family: $fraunces-font;
}

.preview-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .product-img{
        background-image: url('./media/image-product-desktop.jpg');
        width: 500px;
        height: 500px;
        background-size: cover;
        background-position: center;
    }

    .product-info{
        p{
            color: $dark-grayish-blue; 
        }

        p:first-child{
            letter-spacing: 4px;
        }

        .product-cost-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;

            h1{
                color: $dark-cyan;
            }

            p{
                text-decoration: line-through;
            }
        }
    }
}

@media (max-width: $desktop){
    
}

@media (max-width: $mobile-breakpoint){
    
    .preview-card{
        display: flex;
        flex-direction: column;

        .product-img{
            background-image: url(./media/image-product-mobile.jpg);
        }
    }
}