@import './variables';
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: $montserrat-font;
}

p{
    font-size: $paragraph-font-size;
    font-family: $montserrat-font;
}

h1{
    font-family: $fraunces-font;
}

.card-contain{
    background-color: $cream;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.preview-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;

    .product-img{
        background-image: url('./media/image-product-desktop.jpg');
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .product-info{
        display: flex;
        flex-direction: column;
        
        background-color: $white;
        height: 100%;

        p{
            color: $dark-grayish-blue; 
        }

        p:first-child{
            letter-spacing: 6px;
        }

        .product-cost-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;

            h1{
                color: $dark-cyan;
            }

            p{
                text-decoration: line-through;
            }
        }
    }
}

@media (max-width: $desktop){
    
}

@media (max-width: $mobile-breakpoint){
    .card-contain{
        width: 100vw;
        height: 100vh;
    }

    .preview-card{
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
        height: 90vh;
        .product-img{
            background-image: url(./media/image-product-mobile.jpg);
            height: 40%;
            width: 100%;
        }

        .product-info{
            height: 60%;
            padding: 20px;

            p{
                padding-top: 10px;
                font-size: 15px;   
            }
            
            h1{
                font-size: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}